.wrapper {
  width: 600px;
  display: flex;
  overflow: auto;
  position: absolute;
  top: 50%;
  border: 1px solid black;
  left: 50%;
  transform: translate(-50%, -50%);
  &::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
    border-radius: 10px;
    background-color: #f5f5f5;
  }

  &::-webkit-scrollbar {
    background-color: #f5f5f5;
  }

  &::-webkit-scrollbar-thumb {
    border-radius: 10px;
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
    background-color: #555;
  }
  .flex-scroll {
    padding: 30px 20px;
    display: flex;
  }
}
.scrolling {
  box-shadow: inset 0px 0px 10px rgba(0, 0, 0, 0.5);
}

@media screen and (max-width: 620px) {
  .wrapper {
    width: 90%;
  }
}
