.box {
  width: 150px;
  height: 75px;
  margin: 10px;
  margin-top: 20px;
  border: 1px solid black;
  text-align: center;
  padding-top: 20px;
  &:hover {
    background: gray;
    cursor: pointer;
  }
}
.active {
  background: black !important;
  color: white;
}
